@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,800');

/* config */
:root {
    --clr-accent-400: 120, 61%, 50%;
    --clr-neutral-500: 223, 15%, 38%; 
    --clr-neutral-800: 0, 0%, 27%;
}



/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* utilities */

.u-text-accent-400 { color: hsl(var(--clr-accent-400)) !important; }
.u-text-neutral-800 { color: hsl(var(--clr-neutral-800)) !important; }



/* base & typography */

body {
  font-family: 'Merriweather Sans', sans-serif;
  padding: 50px;
  color: hsl(var(--clr-neutral-500));
}

h1, .heading-1, 
h2, .heading-2, 
h3, .heading-3,
h4, .heading-4,
h5, .heading-5,
h6, .heading-6 {
    color: hsl(var(--clr-neutral-800));
}

.heading-2 {
    font-size: 1.5rem;
    font-weight: 800;
}

/* layouts */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}



/* flex-item */

.flex-item {
    box-shadow: 0 0 1rem rgba(75, 77, 81, 0.2);
    padding: 2.5rem 2rem;
}



/* modules */

.card {
  width: 600px;
  box-shadow: 0 0 15px rgba(75, 77, 81, 0.2);
  display: flex;
}

.card__img-container {
  overflow: hidden;
  flex: 2;
}

.card__img {
  min-height: 100%;
}

.card__content {
  flex: 3;
  padding: 96px 40px;
}

.card__title {
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 5px;
}

.card__subtitle {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsl(120, 61%, 50%);
  margin-bottom: 50px;
}

.card__desc {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 50px;
}

.card__price {
  font-size: 35px;
  font-weight: 800;
  color: hsl(0, 0%, 27%);
  margin-bottom: 25px;
}

.card__button {
  display: inline-block;
  background: limegreen;
  color: hsl(var(--clr-neutral-800));
  text-decoration: none;
  padding: 13px 25px;
}

.card__button:hover {
  background: green;
  color: white;
}

